<div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form (submit)="areaAtuacao()">
          <h1 class="h3 mb-3 font-weight-normal">Área de Atuação</h1>
          <div class="form-group">
            <label for="name">Area de Atuação</label>
            <input type="text" class="form-control" name="desc_atividade" placeholder="Area de Atuação" [(ngModel)]="registro.desc_area_atuacao">
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>