<div class="col-md-8 mt-5 mx-auto">
  <h1 class="form-heading">{{ stepItems[activeStepIndex].label }}</h1>

  <ng-container
    *ngFor="let form of masterForm; let i = index; trackBy: trackByFn"
  >
    <form
      action=""
      [formGroup]="masterForm[i]"
      *ngIf="i === activeStepIndex || masterForm.length === 1"
    >
      <div class="form-group">
        <div class="fields-container form-group">
          <div
            *ngFor="let field of formFields[i]; trackBy: trackByFn"
            [ngSwitch]="currentFormContent[i][field].type"
          >
            <div class="full-width" >
              <div class="form-group">
             
              <label lass="field-label text-bold" [for]="field">{{ field | formatTitle }}</label>
              
              <ng-container *ngSwitchCase="'textarea'">
                <textarea class="form-control"
                  [id]="field"
                  [formControlName]="field"
                  [placeholder]="currentFormContent[i][field].placeholder">{{ field | formatTitle }}</textarea>
              </ng-container>

              <ng-container *ngSwitchCase="'radio'">
                <div [id]="currentFormContent[i][field].id"
                  *ngFor="let option of currentFormContent[i][field].options;" class= 'form-group'>

                  <div class="form-check form-check-inline ">
                    <label class="container" [for]="option.id">{{ option.descricao }}

                    <input class="form-check-input container" 
                        type="radio" 
                        [formControlName]="option.name" 
                        [id]="option.id"
                        [name]="option.name"
                        [value]="option.value">
                        <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="'select'">
                <select class="form-control" [formControlName]="field" [id]="field">
                  <option value="">{{currentFormContent[i][field].placeholder}}</option>
                  <option
                    *ngFor="let option of selects[currentFormContent[i][field].options]; trackBy: trackByFn"
                    [value]="option.value"
                    >{{ option.descricao }}</option>
                </select>
              </ng-container>

            

              <ng-container *ngSwitchDefault>
                <input  class="form-control"
                  [type]="currentFormContent[i][field].type"
                  [formControlName]="field"
                  [id]="field"
                  [placeholder]="currentFormContent[i][field].placeholder"
                  [min]="currentFormContent[i][field].min"
                  [value]="currentFormContent[i][field].value"
                />
              </ng-container>
            </div>

            <p
              class="validation-error"
              *ngIf="
                (masterForm[i].get(field).dirty ||
                  masterForm[i].get(field).touched) &&
                masterForm[i].get(field).invalid &&
                masterForm[i].get(field).errors
              "
            >
              {{ getValidationMessage(i, field) }}
            </p>
          </div>
        </div>

        <div
          class="preview-container"
          *ngIf="activeStepIndex === stepItems.length - 1">
          <ul>
            <li
              class="form-details-list"
              *ngFor="let field of masterFormFields; trackBy: trackByFn">
              <span class="text-bold">{{ field | formatTitle }}</span>
              <span>{{ formData[field] || 'N/A' }}</span>
            </li>
          </ul>
        </div>
      </div>

          <button
            type="button" class="btn btn-warning"
            *ngIf="activeStepIndex"
            (click)="goToStep('prev')"
          >Anterior</button>
          <button class="btn btn-success"
            *ngIf="activeStepIndex === stepItems.length - 1"
            type="button"
            (click)="onFormSubmit()"
          >Enviar Relatório</button>
          <button class="btn btn-info"
            type="button"
            *ngIf="activeStepIndex != stepItems.length - 1"
            [disabled]="activeStepIndex === stepItems.length - 1 || masterForm[i].invalid"
            (click)="goToStep('next')"
          >Próximo</button>
        

      </div>
    </form>
  </ng-container>
</div>
