<div class="container">
    <div class="row">
      <div class="col-md-8 mt-5 mx-auto">
        <form (submit)="register()">
          <h1 class="h3 mb-3 font-weight-normal">Tipo de Rede</h1>
          <div class="form-group">
            <label for="name">Tipo de Rede</label>
            <input type="text" class="form-control" name="desc_tipo" placeholder="Tipo de Rede" [(ngModel)]="registro.desc_tipo">
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>