<div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form (submit)="formacaoColetiva()">
          <h1 class="h3 mb-3 font-weight-normal">Formação Coletiva</h1>
          <div class="form-group">
            <label for="name">Formacao Coletiva</label>
            <input type="text" class="form-control" name="nome_tipo" placeholder="Formacao Coletiva" [(ngModel)]="registro.desc_formacao_coletiva">
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>