<div class="container">
    <div class="row">
      <div class="col-md-8 mt-5 mx-auto">
        <form (submit)="register()">
          <h1 class="h3 mb-3 font-weight-normal">Tipo de Rede</h1>
          <div class="form-group">
            <label for="name">Nome do apoiador</label>
            <input type="text" class="form-control" name="nome" placeholder="Nome" [(ngModel)]="registro.nome">
          </div>
          <div class="form-group">
            <label for="name">Cidade</label>
            <input type="text" class="form-control" name="cidade" placeholder="Cidade" [(ngModel)]="registro.cidade">
          </div>
          <div class="form-group">
            <label for="name">Tipo de ajuda</label>
            <input type="text" class="form-control" name="tipo_de_ajuda" placeholder="Tipo de ajuda" [(ngModel)]="registro.tipo_de_ajuda">
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>