<div class="wrapper">
<nav id="sidebar"> 
  <div class="sidebar-header">
    <img id="recicle_img" src="../assets/img/recicle_img.png"  >
    <h3>Observatório</h3>
    <b>Economia Solidária</b>
  </div>
    <ul class="list-unstyled components">
          <li class="active">
            <a routerLink="/">
              <i class="fas fa-home"></i>
              Home
          </a>
      </li>
      <li>
        <a  href="#coopSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-building"></i>
        Empreendimentos
        </a>
        <ul class="collapse list-unstyled" id="coopSubMenu">
            <li>
                <a routerLink="/empreendimento">Incluir EES</a>
            </li>
            <li>
                <a routerLink="/atividadeEmpreendimento">Atividade</a>
            </li>
            <li>
                <a routerLink="/areaAtuacao">Area de Atuação</a>
            </li>
            <li>
              <a routerLink="/localizacao">Localização</a>
            </li>
            <li>
              <a routerLink="/formacaoColetiva">Formação Coletiva</a>
            </li>
            <li>
              <a routerLink="/tipoOrganizacao">Tipo de Organização</a>
            </li>
            <!-- <li>
                <a routerLink="/contato">Contato</a>
            </li> -->
            <li>
                <a routerLink="/tipoContato">Tipo de Contato</a>
            </li>
        </ul>
      </li>
      <li>
        <a  href="#redeSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-broadcast-tower"></i>
          Rede Eco. Solidária
        </a>
        <ul class="collapse list-unstyled" id="redeSubMenu">
            <li>
                <a routerLink="/redeEconomica">Rede de Economia Solidária</a>
            </li>
            <li>
              <a  routerLink="/tipoRede">Tipo de Rede</a>
            </li>
            <li>
              <a routerLink="/apoiador">Apoiador</a>
            </li>
        </ul>
      </li>
      <!-- <li>
        <a  href="#docs" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-file"></i>
          Documentação
        </a>
        <ul class="collapse list-unstyled" id="docs">
            <li>
                <a routerLink="#">Cadastrar Documentação</a>
            </li>
            <li>
              <a routerLink="#">Legislação</a>
            </li>
            <li>
              <a  routerLink="#">Editais</a>
            </li>
            <li>
              <a  routerLink="#">Economia Solidária - IFSP BRI</a>
            </li>
        </ul>
      </li> -->
      <li>
        <a  href="#evolSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-chart-line"></i>
          Evolução
        </a>
        <ul class="collapse list-unstyled" id="evolSubMenu">
            <!-- <li>
              <a  routerLink="/evolucao">Evolução</a>
            </li> -->
            <li>
              <a  routerLink="/formulario">Rel. de Evolução</a>
            </li>
            <li>
                <a  routerLink="/questao">Questões</a>
            </li>
             <li>
              <a  routerLink="/geracaoRenda">Geração de renda</a>
            </li> 
        </ul>
      </li>
      <li>
        <a  href="#reportSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-chart-pie"></i>
          Relatórios e Análises
        </a>
        <ul class="collapse list-unstyled" id="reportSubMenu">
            <li>
              <a href="#">Evolução</a>
            </li>
            <li>
                <a href="#">Desenvolvimento Local</a>
            </li>
            <li>
              <a href="#">Desenvolvimento de Coleta</a>
            </li>
        </ul>
      </li>      
      <li *ngIf="!auth.isLoggedIn()">
          <a  href="#userSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-user"></i>
            Usuário
        </a>
        <ul *ngIf="!auth.isLoggedIn()" class="collapse list-unstyled" id="userSubMenu">
          <li>
            <a class="nav-link" routerLink="/register"> Cadastro de Usuário</a>
          </li>            
        </ul>
      </li>
    </ul>
  </nav>
      <!-- Conteudo da pagina  -->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span> Esconder Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Página Inicial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Evolução</a>
                        </li>
                        <li *ngIf="auth.isLoggedIn()" >
                          <a class="nav-link" routerLink="/profile">{{ auth.getUsuarioDetails()?.nome}}</a>
                        </li>
                        <li *ngIf="!auth.isLoggedIn()">
                          <a class="nav-link" routerLink="/login">Entrar</a>
                        </li>
                        <li *ngIf="auth.isLoggedIn()" >
                          <a class="nav-link" routerLink="" (click)="auth.logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <router-outlet id="content"></router-outlet>
    </div>
</div>
