<div class="container">
    <div class="row">
      <div class="col-md-8 mt-5 mx-auto">
        <form (submit)="register()">
          <h1 class="h3 mb-3 font-weight-normal">Cadastro</h1>
          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" name="nome" placeholder="Digite seu nome" [(ngModel)]="credentials.nome">
          </div>
          <div class="form-group">
            <label for="name">Sobrenome</label>
            <input type="text" class="form-control" name="last_name" placeholder="Digite seu sobrenome" [(ngModel)]="credentials.sobrenome">
          </div>
          <div class="form-group">
            <label for="email">Endereço de E-mail</label>
            <input type="email" class="form-control" name="email" placeholder="Digite seu email" [(ngModel)]="credentials.email">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" name="senha" placeholder="senha" [(ngModel)]="credentials.senha">
          </div>
          <button type="submit" class="btn btn-lg btn-info btn-block">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>