<div class="container">
    <div class="row">
      <div class="col-md-8 mt-5 mx-auto">
        <form (submit)="geracaoRenda()">
          <h1 class="h3 mb-3 font-weight-normal">Geração de Renda</h1>
          <div class="form-group">
            <label for="name">Renda </label>
            <input type="text" class="form-control" name="descricao" placeholder="Geração de Renda" [(ngModel)]="registro.descricao">
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>