<div class="container">
    <div class="row">
      <div class="col-md-8 mt-5 mx-auto">
        <form (submit)="opcaoQuestao()">
          <h1 class="h3 mb-3 font-weight-normal">Cadastro de Alternativa</h1>
          <div class="form-group">
            <label for="nome">Alternativa</label>
            <input type="text" class="form-control" name="opcao" placeholder="Alternativa" [(ngModel)]="registro.desc_opcao">
          </div>
          <button type="submit" class="btn btn-lg btn-info btn-block">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>