<div class="container">
    <div class="row">
      <div class="col-md-8 mt-5 mx-auto">
        <form [formGroup]="registrationForm" (ngSubmit) ="onSubmit()">
          <h1 class="h3 mb-3 font-weight-normal">Cadastro de Rede Econômica</h1>
          <div class="form-row">
            <div class="col form-group">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" name="descricao" formControlName="descricao" placeholder="Rede Econômica" >
            </div>
            <div class="col form-group">
                <label for="selectTipoRede">Tipo de Rede</label>
                <select  class="form-control" placeholder="Tipo de rede" name ="selectTipoRede" id="selectTipoRede" formControlName="id_tipo_rede">
                <option *ngFor="let tipoRede of selects[0]"  [value]="tipoRede.idTipo_rede">
                  {{tipoRede.desc_tipo}}
                </option>
              </select> 
            </div>
          </div>

          <div class="form-group">
            <label>Apoiadores</label>
            <button type="button" class="btn btn-success btn-sm m-2" (click)= "addApoiador()"><i class="fa fa-plus"></i></button>
            <div formArrayName="apoiadores">
              <div *ngFor="let apoiador of apoiadores().controls; let i=index">
                <div [formGroupName]="i">
                  <div class="row form-group">
                    <div class="col form-group">
                      <label for="selectApoiador">Nome do Apoiador</label>
                      <button type="button" class="btn btn-danger btn-sm m-2" (click)= "remApoiador(i)"><i class="fa fa-times"></i></button>
                      <select  class="form-control" placeholder="Apoiador" name ="selectApoiador" id="selectApoiador" formControlName="idApoiador">
                        <option *ngFor="let apoiador of selects[1]"  [value]="apoiador.idApoiador">
                          {{apoiador.nome}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="latitude">Latitude</label>
            <input type="text" class="form-control" name="latitude" placeholder="Latitude" formControlName="latitude">
          </div>
          <div class="form-group">
            <label for="longitude">Longitude</label>
            <input type="text" class="form-control" name="longitude" placeholder="Longitude" formControlName="longitude">
          </div>
          <button type="submit" class="btn btn-lg btn-info btn-block">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>